body {
  text-align: center;
}

.letter-input {
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0.25rem;
  text-align: center;
  box-shadow: 2px 2px 2px lightgray;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
}

.letter-input:focus {
  outline-width: 0;
}

.letter-input:hover {
  cursor: default;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.notfound {
  background-color: lightgray;
}

.invalid {
  background-color: white;
  animation-name: flash-red-invalid, shake-invalid;
  animation-duration: .10s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes flash-red-invalid {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(100%, 0%, 0%, 50%);
  }
}
@keyframes shake-invalid {
  0% {}
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.invalid-reverse {
  background-color: white;
  animation-name: flash-red-invalid-reverse, shake-invalid-reverse;
  animation-duration: .10s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}
@keyframes flash-red-invalid-reverse {
  from {
    background-color: rgba(100%, 0%, 0%, 50%);
  }
  to {
    background-color: white;
  }
}
@keyframes shake-invalid-reverse {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {}
}

.disabled {
  opacity: 25%;
}

.hidden {
  display: none;
}

.word-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#div-board {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#div-board:focus {
  outline-width: 0;
}

.keyboard-container {
  display: grid;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(3, 50px);
}

.keyboard-key {
}

.keyboard-pos-1 {
  grid-row: 1;
  grid-column: 1 / 3;
}
.keyboard-pos-2 {
  grid-row: 1;
  grid-column: 3 / 5;
}
.keyboard-pos-3 {
  grid-row: 1;
  grid-column: 5 / 7;
}
.keyboard-pos-4 {
  grid-row: 1;
  grid-column: 7 / 9;
}
.keyboard-pos-5 {
  grid-row: 1;
  grid-column: 9 / 11;
}
.keyboard-pos-6 {
  grid-row: 1;
  grid-column: 11 / 13;
}
.keyboard-pos-7 {
  grid-row: 1;
  grid-column: 13 / 15;
}
.keyboard-pos-8 {
  grid-row: 1;
  grid-column: 15 / 17;
}
.keyboard-pos-9 {
  grid-row: 1;
  grid-column: 17 / 19;
}
.keyboard-pos-10 {
  grid-row: 1;
  grid-column: 19 / 21;
}
.keyboard-pos-11 {
  grid-row: 2;
  grid-column: 2 / 4;
}
.keyboard-pos-12 {
  grid-row: 2;
  grid-column: 4 / 6;
}
.keyboard-pos-13 {
  grid-row: 2;
  grid-column: 6 / 8;
}
.keyboard-pos-14 {
  grid-row: 2;
  grid-column: 8 / 10;
}
.keyboard-pos-15 {
  grid-row: 2;
  grid-column: 10 / 12;
}
.keyboard-pos-16 {
  grid-row: 2;
  grid-column: 12 / 14;
}
.keyboard-pos-17 {
  grid-row: 2;
  grid-column: 14 / 16;
}
.keyboard-pos-18 {
  grid-row: 2;
  grid-column: 16 / 18;
}
.keyboard-pos-19 {
  grid-row: 2;
  grid-column: 18 / 20;
}
.keyboard-pos-20 {
  grid-row: 3;
  grid-column: 3 / 5;
}
.keyboard-pos-21 {
  grid-row: 3;
  grid-column: 5 / 7;
}
.keyboard-pos-22 {
  grid-row: 3;
  grid-column: 7 / 9;
}
.keyboard-pos-23 {
  grid-row: 3;
  grid-column: 9 / 11;
}
.keyboard-pos-24 {
  grid-row: 3;
  grid-column: 11 / 13;
}
.keyboard-pos-25 {
  grid-row: 3;
  grid-column: 13 / 15;
}
.keyboard-pos-26 {
  grid-row: 3;
  grid-column: 15/ 17;
}
